html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px */
  font-size: calc(1em * 0.625);
  /* fix */ }

body {
  margin: 0;
  padding: 0;
  background: url("./backgrounds/fr_Pepper-and-Carrot_by-David-Revoy_E22P01-fond2sans.jpg") fixed center;
  background-size: cover;
  font-family: "SourceSans", sans-serif; }

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 50rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem; }
  section[id*="fin"] .button {
    align-self: center;
    margin-bottom: 3rem; }
  section article {
    width: 100%; }

a {
  font-weight: bold; }
  a, a:visited {
    color: #000; }
  a:hover {
    text-decoration: underline dotted; }

li:not(:first-of-type) {
  margin-top: 2rem; }

@font-face {
  font-family: 'basker';
  src: url("./fonts/basker-regular/librebaskerville-regular-webfont.woff2") format("woff2"), url("./fonts/basker-regular/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SourceSans';
  src: url("./fonts/sourcesanspro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("./fonts/sourcesanspro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SourceSans';
  src: url("./fonts/sourcesanspro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("./fonts/sourcesanspro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1,
h2 {
  font-family: basker, serif; }

h1 {
  font-size: 3.6rem; }

h2 {
  text-align: center; }

body {
  font-size: 1.8rem; }

.button {
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  background-image: radial-gradient(rgba(47, 121, 160, 0.5) 52%, rgba(187, 220, 214, 0.47) 83%, rgba(250, 250, 250, 0.25) 100%);
  border: 2px solid #FFFFFF;
  transition: all .2s ease-in-out;
  cursor: pointer; }
  .button:hover {
    box-shadow: 0 0 1rem .6rem #fff;
    text-decoration: none; }

.button-retour {
  color: #000000;
  font-weight: normal;
  text-decoration: underline dashed; }
  .button-retour:before {
    content: '< '; }
  .button-retour:hover {
    text-decoration: underline; }

[type="button"] {
  padding: .9rem 1rem;
  font-size: 1.6rem;
  line-height: 1;
  background: none;
  border: 2px solid #21618e;
  cursor: pointer; }

.js-tooltip {
  padding: 0;
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
  background: none;
  border: none;
  border-bottom: 2px dashed #21618e;
  cursor: pointer; }
  .js-tooltip:hover {
    border-bottom-style: solid; }
  .js-tooltip, .js-tooltip:hover {
    text-decoration: none; }

dialog {
  display: block;
  border: 0;
  max-width: 30rem;
  width: 100%; }

.hidden {
  display: none; }

.tooltip__wrapper {
  display: flex;
  flex-direction: column; }

.js-tooltip-close {
  order: 2;
  align-self: flex-end; }

.simple-left-container {
  position: relative; }

.simple-left-tooltip {
  position: absolute;
  z-index: 666;
  top: 80%;
  left: 50%;
  width: 15em;
  background: #fff;
  background: rgba 255, 255, 255, 0.9;
  border: 1px solid #128197;
  border-radius: .5em;
  padding: 1em;
  text-align: left; }

.simple-left-tooltip__title {
  margin: 0;
  line-height: 1; }

.simple-left-tooltip p {
  font-size: 1em; }

.simple-left-tooltip__close {
  float: right;
  border: 0;
  /** fix typo inputs **/
  font-family: inherit;
  font-size: .8em;
  background: #128197;
  color: #fff;
  border-radius: 1em; }

.simple-left-tooltip__close:focus,
.simple-left-tooltip__close:hover,
.simple-left-tooltip__close:active {
  outline: 1px dotted #fff; }

.simple-left-tooltip__close:hover,
.simple-left-tooltip__close:active {
  background: #4d287f; }

/* for this example: tablets */
@media (max-width: 55.625em) {
  .simple-left-container {
    position: static; }

  .simple-left-tooltip {
    position: static;
    width: auto;
    margin-top: 1em; } }
p > span:not(.container) {
  font-weight: bold;
  color: #21618e; }

section {
  display: none; }
  section:target {
    display: flex; }

.services {
  padding: 0; }
  .services.services--vertical li {
    align-items: center; }
    .services.services--vertical li:not(:first-of-type) {
      margin-top: 2rem; }
    .services.services--vertical li img {
      flex-shrink: 0;
      margin-right: 1.2rem; }
  .services.services--circle {
    align-self: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(7, 1fr);
    max-width: 29rem;
    margin-right: -1.5rem;
    margin-left: -1.5rem; }
    .services.services--circle li {
      position: relative;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .services.services--circle li::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #fff;
        z-index: 0;
        opacity: 0; }
      .services.services--circle li:first-of-type {
        grid-column-start: 3; }
      .services.services--circle li:not(:first-of-type) {
        margin-top: 0; }
      .services.services--circle li:nth-child(2) {
        grid-column-start: 5; }
      .services.services--circle li:nth-child(3) {
        grid-row-start: 2;
        grid-column-start: 1; }
      .services.services--circle li:nth-child(4) {
        grid-row-start: 2;
        grid-column-start: 7; }
      .services.services--circle li:nth-child(5) {
        grid-row-start: 3;
        grid-column-start: 3; }
      .services.services--circle li:nth-child(6) {
        grid-row-start: 3;
        grid-column-start: 5; }
    .services.services--circle a {
      font-weight: normal;
      color: #000;
      text-align: center;
      text-decoration: none; }
      .services.services--circle a:hover img {
        box-shadow: 0 0 1rem .6rem #fff; }
  .services li {
    display: flex;
    list-style-type: none; }
    .services li img,
    .services li span {
      position: relative;
      z-index: 2; }
  .services img {
    width: 6rem;
    height: 6rem;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all .2s ease-in-out; }
  .services span {
    display: block; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .intro .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 1px solid #fff; }
    .intro .logo img {
      width: 100%;
      height: auto; }
  .intro h1,
  .intro h2 {
    margin: 0;
    font-family: SourceSans, Arial, sans-serif; }

.logiciel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4rem; }
  .logiciel + .logiciel {
    margin-top: 8rem; }
  .logiciel .logo {
    background-color: rgba(255, 255, 255, 0.35); }
    .logiciel .logo img {
      width: auto;
      height: 7rem; }
  .logiciel > .button {
    align-self: flex-end;
    margin-top: 2rem; }

.first-block {
  width: 100%;
  opacity: 0;
  animation: first-block 1s linear forwards 250ms; }

@keyframes first-block {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.delayed {
  opacity: 0;
  animation: delayed 1.2s linear forwards 1.5s; }

@keyframes delayed {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#univers .services li {
  opacity: 0;
  animation: univers-services 1s linear forwards .75s; }
  #univers .services li:nth-child(2) {
    animation-delay: 1.5s; }
  #univers .services li:nth-child(3) {
    animation-delay: 2.25s; }
  #univers .services li:nth-child(4) {
    animation-delay: 3s; }
  #univers .services li:nth-child(5) {
    animation-delay: 3.75s; }
  #univers .services li:last-child {
    animation-delay: 4.5s; }

@keyframes univers-services {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#federation > * {
  opacity: 0;
  animation: federation 1s linear forwards .75s; }
#federation .services {
  animation-delay: .5s; }
#federation p {
  animation-delay: 2s; }
#federation nav {
  animation-delay: 3s; }

@keyframes federation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#federation-2 li:nth-child(2) img {
  animation: federation-2-1 .5s linear forwards .5s; }
#federation-2 li:nth-child(3) {
  position: relative; }
  #federation-2 li:nth-child(3)::after {
    top: 4px;
    right: -12rem;
    width: 13.6rem;
    transform: rotate(-38deg);
    animation: federation-2 1s linear forwards 2s; }
  #federation-2 li:nth-child(3) img {
    animation: federation-2-1 .5s linear forwards 3s; }
#federation-2 p {
  opacity: 0;
  animation: federation-2-p 1.5s linear forwards 1s; }
  #federation-2 p:nth-of-type(2) {
    animation-delay: 3.5s; }

@keyframes federation-2 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes federation-2-1 {
  to {
    box-shadow: 0 0 1rem .6rem #fff; } }
@keyframes federation-2-p {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#federation-3 li:first-child::after {
  top: 4rem;
  right: -2.1rem;
  width: 2.4rem;
  animation: federation-2 .5s linear forwards 1s; }
#federation-3 li:first-child img {
  animation: federation-2-1 .5s linear forwards .5s; }
#federation-3 li:nth-child(2)::after {
  top: 9.2rem;
  right: -3rem;
  width: 7.4rem;
  transform: rotate(50deg);
  animation: federation-2 .5s linear forwards 4s; }
#federation-3 li:nth-child(2) img {
  box-shadow: 0 0 1rem .6rem #fff; }
#federation-3 li:nth-child(3)::after {
  top: 4px;
  right: -12rem;
  width: 13.6rem;
  transform: rotate(-38deg);
  opacity: 1; }
#federation-3 li:nth-child(3) img {
  box-shadow: 0 0 1rem .6rem #fff; }
#federation-3 li:nth-child(4)::after {
  top: 5.1rem;
  left: -17.3rem;
  width: 17.6rem;
  animation: federation-2 .5s linear forwards 4.5s; }
#federation-3 li:nth-child(4) img {
  animation: federation-2-1 .5s linear forwards 4s; }
#federation-3 li:nth-child(5)::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12rem;
  width: 13.6rem;
  height: 2px;
  background-color: #fff;
  transform: rotate(-30deg);
  opacity: 0;
  animation: federation-2 .5s linear forwards 5s; }
#federation-3 li:nth-child(5)::after {
  top: -6.4rem;
  left: -.6rem;
  width: 16.3rem;
  transform: rotate(-67deg);
  animation: federation-2 .5s linear forwards 3s; }
#federation-3 li:nth-child(5) img {
  animation: federation-2-1 .5s linear forwards 2.5s; }
#federation-3 li:nth-child(6)::after {
  top: -6.5rem;
  left: -2.8rem;
  width: 15rem;
  transform: rotate(-90deg);
  animation: federation-2 .5s linear forwards 2s; }
#federation-3 li:nth-child(6) img {
  animation: federation-2-1 .5s linear forwards 1.5s; }

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  width: 100%; }
  nav.a-gauche {
    justify-content: flex-start; }
  nav > a:first-child:not(:only-child) {
    margin-right: auto; }
  nav:last-child {
    margin-top: 4rem;
    padding-bottom: 4rem; }

.gang {
  padding-left: 0;
  list-style: none; }
  .gang a {
    font-weight: normal; }

/*# sourceMappingURL=styles.css.map */
