@font-face {
    font-family: 'basker';
    src: url('./fonts/basker-regular/librebaskerville-regular-webfont.woff2') format('woff2'),
        url('./fonts/basker-regular/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSans';
    src: url('./fonts/sourcesanspro/sourcesanspro-bold-webfont.woff2') format('woff2'),
        url('./fonts/sourcesanspro/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSans';
    src: url('./fonts/sourcesanspro/sourcesanspro-regular-webfont.woff2') format('woff2'),
        url('./fonts/sourcesanspro/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
