.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;

    border: 1px solid #fff;

    img {
      width: 100%;
      height: auto;
    }
  }

  h1,
  h2 {
    margin: 0;
    font-family: SourceSans, Arial, sans-serif;
  }
}

.logiciel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4rem;

  & + & {
    margin-top: 8rem;
  }

  .logo {
    background-color: rgba(255, 255, 255, 0.35);

    img {
      width: auto;
      height: 7rem;
    }
  }

  & > .button {
    align-self: flex-end;
    margin-top: 2rem;
  }
}