.js-tooltip {
  padding: 0;
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
  background: none;
  border: none;
  border-bottom: 2px dashed #21618e;
  cursor: pointer;

  &:hover {
    border-bottom-style: solid;
  }

  &,
  &:hover {
    text-decoration: none;
  }
}

dialog {
  display: block;
  border: 0;
  max-width: 30rem;
  width: 100%;
}
.hidden { display: none; }

.tooltip {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.js-tooltip-close {
  order: 2;
  align-self: flex-end;
}

.simple-left-container {
  position: relative;
}

.simple-left-tooltip {
  position: absolute;
  z-index: 666;
  top: 80%;
  left: 50%;
  width: 15em;
  background: #fff;
  background: rgba (255, 255, 255, .9);
  border: 1px solid #128197;
  border-radius: .5em;
  padding: 1em;
  text-align: left;
}

.simple-left-tooltip__title {
  margin: 0;
  line-height: 1;
}
.simple-left-tooltip p {
  font-size: 1em;
}
.simple-left-tooltip__close {
  float: right;
  border: 0;
  /** fix typo inputs **/
  font-family: inherit;
  font-size: .8em;
  background: #128197;
  color: #fff;
  border-radius: 1em;
}
.simple-left-tooltip__close:focus,
.simple-left-tooltip__close:hover,
.simple-left-tooltip__close:active {
  outline: 1px dotted #fff;
}
.simple-left-tooltip__close:hover,
.simple-left-tooltip__close:active {
  background: #4d287f;
}

/* for this example: tablets */
@media (max-width: 55.625em) {

  .simple-left-container {
    position: static;

  }
  .simple-left-tooltip {
    position: static;
    width: auto;
    margin-top: 1em;
  }

}
